/*STYLING MY PERSONAL WEB :D*/

body {
    font-family: 'Roboto', sans-serif;
    background: white;
}

.textColor {
	color :#305b90;
}

#socialLinks  img {
    height : 20px;
}

#socialLinks li {
    display : inline;
    margin: 5px;
}

#socialLinks li a , #navHeader a{
    color: #305b90;
}

#socialLinks {
    text-align: right;
}

.navBar {
    margin-top: 45px;
}

.profileHeader {
	font-size: 45px;
}

.hackerGirl {
    margin-left: 25%;
    margin-top: 6%;
}