/*STYLING MY PERSONAL WEB :D*/

body {
    font-family: 'Roboto', sans-serif;
}

.textColor {
	color :#305b90;
}

#socialLinks li {
    display : inline;
    margin: 5px;
}

#socialLinks li a , #navHeader a{
    color: #305b90;
}

#socialLinks {
    text-align: right;
}

.navBar {
    margin-top: 45px;
    /*margin-bottom: -22px !important;*/
}

.profileHeader {
	font-size: 45px;
}
